.modal_box {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 900;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.8);
	transition: ease-in-out opacity 0.6s, visibility 0.6s;
	opacity: 1;
}
.modal_box.collapsed {
	opacity: 0;
	visibility: hidden;
}

.modal_box-close {
	position: absolute;
	top: 3%;
	right: 4%;
	box-sizing: border-box;
	width: 2em;
	height: 2em;
	padding: 0;
	font-size: 1.2rem;
	z-index: 990;
}

.modal_box-content {
	width: 90%;
	max-width: 90vw;
	max-height: 90vh;
	padding: 1em;
	margin: 1% auto;
	overflow-y: auto;
	font-size: 1rem;
	line-height: 1.5em;
	text-align: left;
	background-color: #FFF;
	border-radius: 1em;
}
