.dropdown_content.collapsed {
	transform: scaleY(0);
}

.dropdown_content {
	transform: scaleY(1);
	transform-origin: top center;
	transition: all 0.5s;
}

.arrow-button svg {
	transition: all 0.5s ease-in-out;
}

.arrow-button.up svg {
	transform: rotate(-90deg);
}

.arrow-button.down svg {
	transform: rotate(90deg);
}
