.dropdown_content.collapsed {
	display: none;
}

.dropdown_arrow {
	display: inline-block;
	padding: 3px;
	border: solid black;
	border-width: 0 3px 3px 0;
}

.dropdown_arrow.up {
	transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
}
