$ingredient-color: green;
$picks-color: hsl(91, 37%, 61%);
$complimentary-color: adjust-color($picks-color, $hue: -120);
$positive-color: hsl(128, 80%, 60%);
$negative-color: hsl(7, 56%, 62%);

@mixin ingredient {
	width: 6em;
	height: 6em;
	margin: 1rem;
	color: white;
	font-size: 1.2rem;
	border: 0;
	border-radius: 10px;
}

body {
	margin: 0;
	font-family: 'Tomorrow', sans-serif;
}

button {
	font-family: inherit;
}
.ingredient-picks {
	justify-content: center;
	display: flex;
	width: 100%;
	text-align: center;
	background-color: $picks-color;
}

.pick {
	@include ingredient;
	position: relative;
	display: inline-block;
	width: 10vw;
	height: 10vw;
	font-size: 1.7vw;
	background-color: $ingredient-color;
}

.ingredient-choice {
	flex-wrap: wrap;
	justify-content: center;
	display: flex;
}

.ingredient {
	@include ingredient;
	flex-shrink: 0;
	background-color: $ingredient-color;
}

.pick.empty {
	background-color: darken($picks-color, 10);
}

.pick .cross {
	position: absolute;
	right: 0.4em;
	bottom: 0.4em;
	font-size: 0.6em;
}

.max-picks-message {
	margin-top: 1em;
	font-size: 1.2em;
	text-align: center;
}

.clear {
	display: block;
	width: 10vw;
	height: 10vw;
	margin: 1em auto;
	font-size: 1.2em;
	background: $complimentary-color;
	border: none;
	border-radius: 50%;
}

.match-indicator {
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	transition: background-color 0.1s;
}

.match-indicator.true{
	background: $positive-color;
}

.match-indicator.false{
	background: $negative-color;
}

